{% extends 'home/base.html' %}
{%  load staticfiles %}
{% block head %}
    <title> IIT BHU | Hostels </title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
{% endblock %}
{% block body %}
        <h4 class="text-center he">Registration Open.<a href="#">Click to Register.</a></h4>
		<!---Carousel--->
		<div id="carousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->

			<ol class="carousel-indicators">
				<li data-target="#carousel" data-slide-to="0" class="active"></li>
				<li data-target="#carousel" data-slide-to="1"></li>
				<li data-target="#carousel" data-slide-to="2"></li>
				<li data-target="#carousel" data-slide-to="3"></li>
				<li data-target="#carousel" data-slide-to="4"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="{% static 'home/images/home6.jpg' %}" alt="...">

				</div>
				<div class="item">
					<img src="{% static 'home/images/home2.jpg' %}" alt="...">

				</div>
				<div class="item">
					<img src="{% static 'home/images/home3.jpg' %}" alt="...">

				</div>
				<div class="item">
					<img src="{% static 'home/images/home4.jpg' %}" alt="...">

				</div>
				<div class="item">
					<img src="{% static 'home/images/home5.jpg' %}" alt="...">

				</div>
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div> <!-- Carousel -->

		<section class="container-fluid">
			<div class="row">
				<div class="col-sm-1">
				</div>
				<div class="col-sm-7" >
					<h1>Recents Events</h1>
				</div>
				<div class="col-sm-3" >
					<h2>Important Updates</h2>
				</div>
				<div class="col-sm-1">
				</div>
			</div>
		</section>
{% endblock %}